# Web App Environment Configuration
NODE_ENV="production"
PORT=3000

# Site URLs
NEXT_PUBLIC_SITE_URL="https://nexusnation.in"
NEXT_PUBLIC_API_URL="https://nexusnation.in/api"

# Server-Side Internal Proxies (For Next.js rewrites & server components)
INTERNAL_API_URL="http://127.0.0.1:4020/api"
INTERNAL_UPLOADS_URL="http://127.0.0.1:4020/uploads"
