# Server
PORT=4000
NODE_ENV=development
CLIENT_URL=http://localhost:3000

# Database
DATABASE_URL="mongodb://localhost:27017/nexusblog?authSource=admin"

# JWT Auth & Security
JWT_ACCESS_SECRET="nexus-access-secret-super-secure-change-in-production-12345"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="nexus-refresh-secret-super-secure-change-in-production-67890"
JWT_REFRESH_EXPIRES_IN="7d"

# Storage
STORAGE_PROVIDER=local
STORAGE_LOCAL_DIR=../../storage/local/media

# Cloudflare R2 (Optional for local dev)
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=
R2_PUBLIC_URL=
